@using PagedList.Mvc;
@model PagedList.IPagedList<Repozytorium.Models.Ogloszenie>
<link href="~/Content/PagedList.css" rel="stylesheet" />
@*@model IEnumerable<Repozytorium.Models.Ogloszenie>*@

@{
  ViewBag.Tytul         = "Moje ogłoszenia - metatytuł do 60 znaków"; 
  ViewBag.Opis          = "Lista ogłoszeń dodanych przez zalogowanego użytkownika — metaopis do 160 znaków"; 
  ViewBag.SlowaKluczowe = "Lista, ogłoszeń, słowa, kluczowe, aplikacja"; 
}

<h2>Lista Moich ogłoszeń</h2>

<p>
  @if (User.Identity.IsAuthenticated)
  {
    @Html.ActionLink("Dodaj nowe ogłoszenie", "Create", null, new {@class = "btn btn-primary"})
  }
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model[0].UzytkownikId)
        </th>
        <th>                                                  
            @Html.DisplayNameFor(model => model[0].Tresc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Tytul)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].DataDodania)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UzytkownikId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tresc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tytul)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataDodania)
        </td>
        <td>
            @Html.ActionLink("Szczegóły", "Details", new { id=item.Id }, new {@class = "btn btn-warning"}) 
            @if (User.Identity.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Pracownik")))
	          {
		          <br /> @Html.ActionLink("Edytuj",          "Edit",          new { id=item.Id }, new {@class="btn btn-primary"}) 
  	          <br /> @Html.ActionLink("Dodaj kategorie", "DodajKategorie", new { id=item.Id }, new {@class="btn btn-success"}) 
              if (User.IsInRole("Admin"))
	            {
                @Html.ActionLink("Usuń",      "Delete", new { id=item.Id }, new {@class = "btn btn-danger"})
	            }
	          }
            
        </td>
    </tr>
}

</table>
<div>
  <br />
  Strona @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) z @Model.PageCount
  @Html.PagedListPager( Model, page => Url.Action("MojeOgloszenia", new { page }) )
</div>
