@model IEnumerable<Repozytorium.Models.Kategoria>

@{
    ViewBag.Tytul         = "Lista kategorii - metatytuł do 60 znaków";
    ViewBag.Opis          = "Lista kategorii z naszej aplikacji — metaopis do 160 znaków";
    ViewBag.SlowaKluczowe = "Lista, kategorii, słowa, kluczowe, aplikacja"; 
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nazwa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParentId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MetaTytul)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MetaOpis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MetaSlowa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tresc)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @*@Html.DisplayFor(modelItem => item.Nazwa)*@
            @Html.ActionLink(item.Nazwa, "PokazOgloszenia", new { id= item.Id})
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParentId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MetaTytul)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MetaOpis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MetaSlowa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tresc)
        </td>
    </tr>
}

</table>
